<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <h1>Ruby on Rails スケジュール管理アプリ</h1>
  </header>

  <body>
    <div class="main_container">
    <%= yield %>
    </div>
  </body>
  <footer>
    <h1>現在の日時:<%= l DateTime.now %>
        スケジュール合計:<%= Schedule.count %>
    </h1>
  </footer>
</html>